@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basier+Circle&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Basier Circle", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* DETAIL NAV */
.detailNav {
  display: none;
  background-color: white;
  color: white;
}

.detailNav ul li a {
  text-decoration: none;
  color: black;
  line-height: 2.5;
}

/* BURGER MENU */
.burger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
}

/* SHOW MENU */
.detailNav.active {
  display: flex;
  opacity: 1;
}

nav img {
  width: 250px;
  height: auto;
}

.banner {
  height: auto; /* Full screen height */
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news {
  padding: 50px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 100px;
  color: #1d1c1d;
}

.news h2 {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
}

.news p {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.about {
  min-height: 100vh;
  background-color: white;
  padding-inline: 80px;
}

/* CAROUSEL */

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: white;
}

.wrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  cursor: grab;
}

.wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.item {
  flex: 0 0 calc(50% - 5px); /* Show two images per view */
  scroll-snap-align: start;
  text-align: center;
  user-select: none; /* Prevent text selection */
}

.item img {
  width: 100%;
  pointer-events: none; /* Prevent image interference */
}

/* Dotted Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Navigation Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  user-select: none;
}

.nav-btn.prev {
  left: 10px;
}

.nav-btn.next {
  right: 10px;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, whitesmoke, black, whitesmoke);
  margin-block: 40px;
}

.about h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.aboutEvent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.aboutEvent img {
  width: 50%;
  height: 50%;
}

.aboutVideos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.aboutVideos img {
  width: 25%;
  height: 100%;
}

.aboutLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.aboutLayout img {
  width: 100%;
  height: 100%;
}

.aboutLayoutDate {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.aboutLayoutDate div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.aboutLayoutDate button {
  background-color: rgba(55, 65, 81);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding-block: 10px;
}

.aboutLayoutDate button:hover {
  background-color: #1d1c1d;
}

.aboutLayoutDate p {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.aboutTCList {
  display: flex;
  flex-direction: column;
}

.aboutTCList h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  display: flex;
  justify-items: start;
}
.aboutTCList h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  display: flex;
  justify-items: start;
}

.aboutTCList p {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.aboutTCList span {
  color: red;
  font-style: italic;
}

.listOnList span {
  color: black;
}

.spanList {
  color: red;
  font-style: italic;
}

.srpresent {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #1d1c1d;
}

.srpresent img {
  width: 30%;
  height: 100%;
}

.pkEntertainment {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #1d1c1d;
  padding-top: 50px;
}

.pkEntertainment img {
  width: 15%;
  height: 100%;
}

.bankPartner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
  padding-top: 50px;
}

.bankPartner h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.bankPartner img {
  width: 35%;
  height: 100%;
}

.mobilityMedic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobilityPartner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
  padding-top: 50px;
}

.mobilityPartner h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.mobilityPartner img {
  width: 60%;
  height: 100%;
}

.medicPartner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
  padding-top: 50px;
}

.medicPartner h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.medicPartner img {
  width: 60%;
  height: 100%;
}

.partner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
}

.partner h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.partnerList {
  display: flex;
  justify-content: center;
}

.partnerList img {
  width: 100%;
  height: 100%;
}

.mediaPartner {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1c1d;
}

.mediaPartner h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1d1c1d;
  text-align: center;
}

.mediaPartner img {
  width: 100%;
  height: 100%;
}

.brand {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 1.5;
}

.brand span {
  font-weight: normal;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .banner {
    height: 60vh; /* Reduce height */
  }

  nav ul {
    display: none;
  }

  .burger {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-block: 5px;
    align-items: center;
  }

  .news {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about {
    padding-left: 40px;
    padding-right: 40px;
  }

  .item {
    flex: 0 0 100%;
  }

  /* Dotted Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .dot.active {
    background-color: #333;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 30vh; /* Reduce height */
  }

  .aboutEvent {
    display: flex;
    flex-direction: column;
  }

  nav img {
    width: 250px;
    height: 20px;
  }

  .about {
    padding-inline: 15px;
  }

  .news {
    padding-block: 10px;
    padding-inline: 20px;
  }

  .news h2 {
    padding-top: 30px;
    font-size: 24px;
  }

  .news p {
    font-size: 12px;
    line-height: 20px;
  }

  .aboutEvent h2 {
    font-size: 10px;
  }

  .aboutEvent img {
    width: 100%;
    height: 100%;
  }

  .aboutVideos {
    display: flex;
    flex-direction: column;
  }

  .aboutVideos img {
    width: 100%;
    height: 100%;
  }

  .aboutLayoutDate {
    display: flex;
    flex-direction: column;
  }

  .aboutTCList li {
    font-size: 14px;
  }

  .aboutTCList p {
    font-size: 14px;
    line-height: 20px;
  }

  .aboutPromoters h2 {
    font-size: 24px;
    text-align: center;    
  }  
}

@media (max-width: 375px) {
  .banner {
    height: 25vh; /* Reduce height */
  }

  nav {
    gap: 15px;
  }

  nav img {
    width: 250px;
    height: 20px;
  }
}
